
body {
    display: flex;
    flex-direction: column;
}
.grid{
    display: grid;
    align-self: center;
    height: 700px;
    width: 700px;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
    background-color:black;
    margin: -8px;
}

canvas {
    position: absolute;
    pointer-events: none;
    background-color: transparent;
    height: 700px;
    width: 700px;
}

.grid__item{
    background-color: white;
    align-content: center;
    font-size: 200px;
    text-align: center;

}

.grid__item:hover {
    background-color: thistle;
}

button {
    align-self: center;
    height: 50px;
    width: 300px;
    display: inline-block;
    margin: 20px;
    padding: 0.35em 1.2em;
    box-sizing: border-box;
    border-radius: 3px;
    font-family:'Roboto',sans-serif;
    font-weight: 300;
    color: #000000;
    text-align: center;
    transition: all 0.2s;
}

button:hover {
    background-color: thistle;
}

#btns {
    display: flex;
    flex-direction: row;
    align-self: center;
}